<div class="workspace-container">
    <div class="workspace-content">
        <circle-loader [loading]="loading"></circle-loader>
        <div class="layout-fill">
            <div class="flex-v expand" style="padding-right:2em; padding-left: 2em;">
                <div class="flex-h">
                    <div class="flex-v expand-w">
                        <div ng-scrollster class="expand scrollable-container">
                            <div style="margin-right: 1em; margin-bottom: 3em;">

                                <div style="color:white; margin-bottom: 1em; padding-top: 1em;" class="titles">Cervezas
                                </div>
                                <div class="flex-60" *ngFor="let item of cervezasList | orderBy:'nombre':true">
                                    <div class="flex-h list-row-container">
                                        <div width="100" height="160">
                                            <img class="imgperfil-small" [src]="item.foto">
                                        </div>
                                        <div class="flex-h list-row-content flex-70">
                                            <div class="flex-v flex-70">
                                                <div class="list-title">{{item.nombre}}</div>
                                                <div class="list-description">{{item.descripcion}}</div>
                                            </div>
                                            <div class="flex-30 flex-h">
                                                <div class="list-title flex-50">$ {{item.precio}}.-</div>
                                                <div class="flex-50 expand-right">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div style="color:white; margin-bottom: 1em; margin-top: 1em;" class="titles">Bebidas
                                </div>
                                <div class="flex-60" *ngFor="let item of bebidasList | orderBy:'nombre':true">
                                    <div class="flex-h list-row-container">
                                        <div width="100" height="160">
                                            <img class="imgperfil-small" [src]="item.foto">
                                        </div>
                                        <div class="flex-h list-row-content flex-70">
                                            <div class="flex-v flex-70">
                                                <div class="list-title">{{item.nombre}}</div>
                                                <div class="list-description">{{item.descripcion}}</div>
                                            </div>
                                            <div class="flex-30 flex-h">
                                                <div class="list-title flex-50">$ {{item.precio}}.-</div>
                                                <div class="flex-50 expand-right">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div style="color:white; margin-bottom: 1em; margin-top: 1em;" class="titles">Comidas
                                </div>
                                <div class="flex-60" *ngFor="let item of comidasList | orderBy:'nombre':true">
                                    <div class="flex-h list-row-container">
                                        <div width="100" height="160">
                                            <img class="imgperfil-small" [src]="item.foto">
                                        </div>
                                        <div class="flex-h list-row-content flex-70">
                                            <div class="flex-v flex-70">
                                                <div class="list-title">{{item.nombre}}</div>
                                                <div class="list-description">{{item.descripcion}}</div>
                                            </div>
                                            <div class="flex-30 flex-h">
                                                <div class="list-title flex-50">$ {{item.precio}}.-</div>
                                                <div class="flex-50 expand-right">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div style="color:white; margin-bottom: 1em; margin-top: 1em;" class="titles">Postres
                                </div>
                                <div class="flex-60" *ngFor="let item of postresList | orderBy:'nombre':true">
                                    <div class="flex-h list-row-container">
                                        <div width="100" height="160">
                                            <img class="imgperfil-small" [src]="item.foto">
                                        </div>
                                        <div class="flex-h list-row-content flex-70">
                                            <div class="flex-v flex-70">
                                                <div class="list-title">{{item.nombre}}</div>
                                                <div class="list-description">{{item.descripcion}}</div>
                                            </div>
                                            <div class="flex-30 flex-h">
                                                <div class="list-title flex-50">$ {{item.precio}}.-</div>
                                                <div class="flex-50 expand-right">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>