<header>
  <div class="flex-h nav-bar-container nar-bar-container-border">
    <div class="flex-grow-0 nav-bar-menu-container">
      <div class="row-container">
        <div class="flex-grow-0">
          <button mat-button class="full-row-button">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div class="flex-grow-2 flex icon-saocom-class">
        </div>
      </div>
    </div>
    <div class="flex-grow-1 row-container">
    </div>
    <div class="expand-right">
        <button mat-button class="full-row-button" (click)="loginClick()">
            <span style="color:white;">Login</span>
        </button>
    </div>
  </div>
</header>
<main>
  
</main>
