@import "../../styles/_variables.scss";


:host{
    .mat-menu-content{
        padding: 0px !important;
    }
}

.module-container{
    margin: 0 1em;
}

.nav-bar-container{
    height: 40px;
    border-bottom: 2px solid $first-detail-color;;
}
